body {
    background-image: url('/Users/rheamanyala/Downloads/eef0cb123d59037b9eff1b9f79dddc03.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  